BOT_TOKEN=your_bot_token_here
VK_GROUP_TOKEN=your_vk_group_token_here
DEBUG=False
USE_PROXY=False
BOT_PROXY=http://some-proxy-address:port
GOOGLE_CLOUD_PROJECT_ID=your-project-id
GOOGLE_APPLICATION_CREDENTIALS=path/to/credentials.json
TELEGRAM_LOG_BOT_TOKEN=optional_bot_token_for_logs
TELEGRAM_LOG_CHAT_ID=optional_chat_id_for_logs
LOG_FILENAME=bot.log
